.Rolling-dice {
  display: flex;
  justify-content: space-around;
  width: 20rem;
}
.Rolling-btn {
  padding: 10px 12px;
  margin-top: 2rem;
  background: #000;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-size: 1.5em;
}

.Rolling-winner {
  animation: glow;
  animation-duration: 3s;
}

@keyframes glow {
  0% {
    color: #fff;
  }
  25% {
    color: #151468;
  }
  50% {
    color: rgb(97, 11, 11);
  }
  75% {
    color: rgb(167, 206, 94);
  }
  100% {
    color: #fff;
  }
}
